:root {
    --yellow: #ffff00;
    --grey: #c5c5c5;
}

* {
    padding: 4px;
    margin: 4px;
    border: solid 1px black;
}

html {
    padding: 0;
    margin: 0;

    border: none;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px var(--grey);

    border: none;
    border-bottom: solid 1px black;
}

nav {
    min-width: 30%;

    border: none;


}

.name-plate {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    flex-basis: 30%;
    text-align: right;

    border: none;

}

.name-plate h1 {
    border: none;
    border-bottom: solid 1px black;
}

.name-plate p {
    border: none;
}

.header-logo {
    margin: 12px 0;
    max-width: 150px;
    min-width: 50px;
    flex-basis: 30%;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-basis: 30%;

    border: none;
    justify-content: space-around;
}

.nav-links li {
    padding: 12px;
    border: solid 1px black;
}

.nav-links li:hover {
    cursor: pointer;
    background-color: var(--yellow);
}

.nav-links li:active {
    cursor: grabbing;
    background-color: var(--grey);
}

/* scrolling text container */
.scrolling-text {
    margin: auto;
    width: 99%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;

    border: none;
}

/*scrolling text under header*/
.scrolling-text-p {
    font-size: 14px;
    font-weight: 500;
    text-transform: lowercase;
    color: black;
    animation: animate-text 34s linear infinite;

    border: none;
    padding: 0;
    margin: 0;
}

/* scrolling text individual text elements*/
.scrolling-text-p span {
    margin: 0 40px;

    border: none;
}

.about {
    display: flex;
    flex-direction: row;

    border: none;
    border-top: solid 1px black;
    border-bottom: solid 1px black;

    box-shadow: 0 4px var(--grey);
}

.about .about-me {
    flex-basis: 60%;
}

.about .my-skillset {
    flex-basis: 40%;
}

.my-skillset li {
    background-color: var(--yellow);
}

.about-image {
    flex-basis: 25%;
    max-width: 25%;

    border: none;
}

.about-description {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-basis: 75%;
}

.about-description h3 {
    max-width: fit-content;
}

.about-description ul {
    max-width: fit-content;
    text-wrap: pretty;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.about-description li {
    flex-basis: 90%;
}

.project-container {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    border: none;
    border-top: solid 1px black;
    border-bottom: solid 1px black;

    box-shadow: 0 4px var(--grey);
}

.project {
    aspect-ratio: 3 / 2;
    min-width: 200px;
    max-width: 1500px;
    background-position:center;
    background-repeat: no-repeat;
    background-color: var(--yellow);

    align-items: center;

    border: none;
}

.project h3,
.project p {

    padding: 6px 12px;
    background-color: var(--yellow);
    color: black;
    max-width: fit-content;

    border: none;
}

.project h3 {
    font-size: 24pt;
}

#project-1 {
    background-image:url("../images/project-1.jpg");
    flex-basis: 98%;
}

#project-2 {
    background-image:url("../images/project-2.jpg");
    flex-basis: 48%;
}

#project-2 {
    background-image:url("../images/project-2.jpg");
    flex-basis: 48%;
}

#project-3 {
    background-image:url("../images/project-3.jpg");
    flex-basis: 48%;
}

#project-4 {
    background-image:url("../images/project-4.jpg");
    flex-basis: 48%;
}

#project-5 {
    background-image:url("../images/project-5.jpg");
    flex-basis: 48%;
}

/* scrolling text animation style */
@keyframes animate-text {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}